<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レストラン探し</title>
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/indexMb.css">
</head>

<body>

    <h1>レストラン検索アプリ</h1>
    <div id="searchBox">
        <div class="searchContent">
            <p>検索したい半径を選択してください</p>
            <div class="selectContent">
                <select id="range" required>
                    <option value="1">300m</option>
                    <option value="2">500m</option>
                    <option value="3">1000m</option>
                    <option value="4">2000m</option>
                    <option value="5" selected>5000m</option>
                </select>
            </div>
        </div>
        <button id="searchButton">検索</button>
    </div>


    <!-- 検索結果の表示部 -->
    <article id="restaurantInfo"></article>


    <!-- ページャを追加する部分 -->
    <div id="pager">
        <p id="prevPage" data-value="">前へ</p>
        <div id="numberList"></div>
        <p id="nextPage" data-value="">次へ</p>
    </div>


<script src="../js/jquery-3.7.1.min.js"></script>
<script src="../js/gourmetSearch.js"></script>
</body>
</html>